div.action {
    text-align: center;
}

.head-wrapper {
    background: #E2E3E6;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 10px;
}

.inner .head-wrapper {
    padding-bottom: 0;
}

.navbar .nav {
  margin-right: 0;
  display: inline-block;
  float: right;
  padding: 0;
}

.navbar .nav > li > a {
  color: rgb(146, 145, 145);
  font-weight: normal;
  text-transform: uppercase;
  font-size: 12px;
}

.navbar .nav > li.active > a,
.navbar .nav > li:hover > a {
  color: #FAAE1B;
}


.navbar .nav > li.action a {
  border: 1px solid rgb(146, 145, 145);
  padding: 2px 10px;
  border-radius: 5px;
}

.navbar .nav > li.action.active a {
  border: 1px solid rgb(255, 173, 0);
}

.navbar .nav > li.action:hover a {
  border: 1px solid #FAAE1B;
}

.logo {
  float: left;
  margin-top: 20px;
  text-transform: uppercase;
  color: #7E7E7E;
}

.logo span {
  color: #444;
}

.inner .team h4, .inner #content h1, .inner #content h2, .inner #content h3, .inner #content h4, .inner #content h5, .inner #content h6 {
  font-family: 'PT Serif', serif;
}

.inner .team h4 { color: white; }

.inner.about h4, .inner h1 {
  font-weight: normal;
  font-size: 28px;
  text-align: center;
}

.contact #content, .about #content {
  padding: 50px 0;
  min-height: 450px;
}

.contact #content {
  text-align: center;
}

.brand-copy p {
  font-family: 'PT Serif', serif;
  font-size: 28px;
  margin-bottom: 50px;
}

header .col-md-4 h5 {
  font-size: 12px;
  color: rgb(129, 129, 129);
  text-transform: uppercase;
  font-weight: normal;
}

header .col-md-4 p {
  font-size: 14px;
}

header .col-md-4 img {
    height: 95px;
}

#banners h4.center,
#calltoaction h4 {
  font-family: 'PT Serif', serif;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  color: rgb(52, 73, 94);
  margin-bottom: 35px;
}

#banners ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
}

#banners h4 {
  font-size: 15px;
  font-weight: normal;
  color: #686868;
}

#banners p {
  font-size: 15px;
  line-height: 1.72222;
  margin: 0 0 15px;
  font-weight: normal;
  color: #7A7A7A;
}


#banners_cycle {
  margin: 0;
}

ul.list-banners:after,
ul.banners_cycle:after {
  content: '';
  display: block;
  clear: both;
}

#banners li.banners_item {
  width: 31%;
  float: left;
  min-height: 130px;
  margin-bottom: 30px;
  margin-right: 20px;
}

div.action {
  margin: 30px auto 50px;
  padding-bottom: 50px;
}

#banners ul.list-banners {
  margin-bottom: 60px;
  text-align: center;
}

#banners ul.list-banners img {
  opacity: .4;
}

#banners ul.list-banners li:hover img {
  opacity: 1;
}

ul.list-banners li {
  display: inline-block;
  margin-right: 10px;
}

footer {
  background-color: #333E51;
  padding: 50px 0;
}

footer .nom { text-align: right; }

hr,
.banners_cycle,
div.action {
  background: url(/images/spacer.png) bottom center no-repeat;
  border:none;
}

h2, .h2 {
  font-size: 24px;
}

h3, .h3 {
  font-size: 19px;
}

.btn {
  text-transform: uppercase;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

input[type="radio"], input[type="checkbox"] {
  margin-right: 10px;
}

ul {
  list-style-type: none; padding:10px;
}

.questions {
  padding: 40px 0;
  text-align: center;
}

.questions a {
  margin: 30px auto;
}

.team h2 {
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  font-size: 17px;
  margin: 45px;
}

.team .thumbnail {
  color: #FFF;
  background: 0;
  border: 0;
}

.team h4 {
  text-align: center;
}

section.team  {
  padding: 50px 0;
  background: #22ADDD;
}

.section-5.centre {
    display: none;
}

#chart {
  margin: 40px 20px 10px;
  display: block;
}

.centre .span12 {
  padding: 0 20px 40px;
}
